.attribution {
    font-size: 18px;
    color: hsl(178, 100%, 50%);
    text-align: center;
}

.attribution a {
    color: hsl(215, 51%, 70%);
    font-size: 20px;
}

.attribution a:hover {
    color: gray;
}

* {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imageflex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.equilibrium {
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

h3 {
    color: white;
}

p {
    font-size: 15px;
    width: 240px;
    color: hsl(215, 51%, 70%);
}

.underflex2 {
    color: hsl(178, 100%, 50%);
    font-size: 15px;
}

.underflex21 {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    margin-top: -1px;
}

.div2 {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    margin-left: 15px;
    margin-top: -6px;
}

span {
    color: white;
}

.avatar {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 100%;
}

.margin1 {
    margin-top: 3px;
    margin-right: 5px;
}

.margin2 {
    margin-top: 3px;
    margin-right: 3px;
}

#hr {
    border-top: 0.001px solid hsl(215, 32%, 27%);
    margin-top: 15px;
    padding-top: 15px;
}

h3:hover,
span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.imagehover:hover {
    cursor: pointer;
}

.imagehover {
    position: relative;
}

.equilibrium {
    display: block;
}

.overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: hsl(178, 100%, 50%);
}

.imagehover:hover .overlay {
    opacity: 0.75;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}